# Data uploading & inspection

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os

# List the contents of your Drive folder to verify the path
data_folder = '/content/drive/MyDrive/Datathons_Data/'
os.listdir(data_folder)

['london_listings.csv',
 'bangkok_listings.csv',
 'vancouver_listings.csv',
 'cleaned_vancouver_listings.csv',
 'cleaned_london_listings.csv',
 'cleaned_bangkok_listings.csv',
 'cleaned_vancouver_listings.gsheet',
 'cleaned_london_listings.gsheet',
 'cleaned_bangkok_listings.gsheet']

In [ ]:
# Import pandas
import pandas as pd

# Define the path to your files
data_path = '/content/drive/MyDrive/Datathons_Data/'

# Load the CSV files
vancouver_df = pd.read_csv(data_path + 'vancouver_listings.csv')
london_df = pd.read_csv(data_path + 'london_listings.csv')
bangkok_df = pd.read_csv(data_path + 'bangkok_listings.csv')

# Inspect the data
vancouver_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,13188.0,Rental unit in Vancouver · ★4.83 · Studio · 2 ...,51466,Family Guns,NaN,Riley Park,49.24773,-123.10509,Entire home/apt,150,3,260,2023-06-01,1.61,2,150,4,22-156193
1,13358.0,Condo in Vancouver · ★4.68 · 1 bedroom · 1 bed...,52116,Lynn,NaN,West End,49.28201,-123.12669,Entire home/apt,227,1,454,2023-05-22,2.88,1,247,19,22-311727
2,13490.0,Rental unit in Vancouver · ★4.92 · 1 bedroom ·...,52467,Iris,NaN,Kensington-Cedar Cottage,49.25622,-123.06607,Entire home/apt,150,30,98,2023-05-01,0.67,1,121,5,NaN
3,14267.0,Home in Vancouver · ★4.76 · 1 bedroom · 2 beds...,56030,Peter & Alison,NaN,Kensington-Cedar Cottage,49.24922,-123.08139,Entire home/apt,150,3,34,2021-07-14,0.22,1,0,0,21-156500
4,14424.0,Guest suite in Vancouver · ★4.69 · 1 bedroom ·...,56709,Samantha Jo,NaN,Downtown Eastside,49.27921,-123.08835,Entire home/apt,134,30,266,2023-05-25,1.64,4,187,7,19-162091

In [ ]:
#inspect data
london_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,306333,Rental unit in London · ★4.32 · 2 bedrooms · 3...,1573870,Robert,NaN,Hackney,51.52748,-0.08172,Entire home/apt,156,2,20,2017-05-31,0.25,1,4,0,NaN
1,154221,Rental unit in London · 2 bedrooms · 2 beds · ...,211018,Sylvia,NaN,Westminster,51.48970,-0.13911,Entire home/apt,83,2,1,2016-01-12,0.01,1,0,0,NaN
2,306405,Rental unit in Dagenham · ★4.0 · 1 bedroom · 1...,1575800,Mary,NaN,Barking and Dagenham,51.54072,0.15246,Private room,41,4,3,2012-05-27,0.02,1,365,0,NaN
3,157714,Townhouse in Hammersmith · ★4.71 · 1 bedroom ·...,757377,Eilinn,NaN,Hammersmith and Fulham,51.48974,-0.22208,Private room,69,4,175,2023-05-02,1.21,1,67,10,NaN
4,13913,Rental unit in Islington · ★4.80 · 1 bedroom ·...,54730,Alina,NaN,Islington,51.56861,-0.11270,Private room,79,1,41,2022-12-11,0.26,2,353,15,NaN

In [ ]:
#inspect data
bangkok_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,27934,Condo in Samsen Nai · ★4.85 · 1 bedroom · 1 be...,120437,Nuttee,NaN,Ratchathewi,13.75983,100.54134,Entire home/apt,1937,3,65,2020-01-06,0.48,2,269,0,NaN
1,27979,Rental unit in Bangkok · 1 bedroom · 2 beds · ...,120541,Emy,NaN,Bang Na,13.66818,100.61674,Private room,1338,1,0,NaN,NaN,2,0,0,NaN
2,28745,Rental unit in Bangkok · 1 bedroom · 1 bed · 1...,123784,Familyroom,NaN,Bang Kapi,13.75232,100.62402,Private room,800,60,0,NaN,NaN,1,0,0,NaN
3,35780,Rental unit in Bangkok · ★4.75 · 1 bedroom · 1...,153730,Sirilak,NaN,Din Daeng,13.78823,100.57256,Private room,1286,7,4,2023-04-03,0.05,1,358,2,NaN
4,48736,Rental unit in Bangkok · 1 bedroom · 1 bed · 1...,222005,Athitaya,NaN,Rat Burana,13.68556,100.49535,Private room,1585,3,1,2014-02-03,0.01,1,365,0,NaN

# Data Cleaning

In [ ]:
#check for missing values and data types in the Vancouver dataset
print("Vancouver Dataset Information:")
print(vancouver_df.info())
print("\nMissing Values in Vancouver Dataset:")
print(vancouver_df.isnull().sum())

#check for missing values and data types in the London dataset
print("London Dataset Information:")
print(london_df.info())
print("\nMissing Values in London Dataset:")
print(london_df.isnull().sum())

#check for missing values and data types in the Bangkok dataset
print("Bangkok Dataset Information:")
print(bangkok_df.info())
print("\nMissing Values in Vancouver Dataset:")
print(bangkok_df.isnull().sum())

Vancouver Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6355 entries, 0 to 6354
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6355 non-null   float64
 1   name                            6355 non-null   object
 2   host_id                         6355 non-null   int64
 3   host_name                       6355 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   6355 non-null   object
 6   latitude                        6355 non-null   float64
 7   longitude                       6355 non-null   float64
 8   room_type                       6355 non-null   object
 9   price                           6355 non-null   int64
 10  minimum_nights                  6355 non-null   int64
 11  number_of_reviews               6355 non-null   int64
 12  last_review                     5248 non-null   object
 13  reviews_per_month               5248 non-null   float64
 14  calculated_host_listings_count  6355 non-null   int64
 15  availability_365                6355 non-null   int64
 16  number_of_reviews_ltm           6355 non-null   int64
 17  license                         3884 non-null   object
dtypes: float64(5), int64(7), object(6)
memory usage: 893.8+ KB
None

Missing Values in Vancouver Dataset:
id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood_group               6355
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       1107
reviews_per_month                 1107
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
license                           2471
dtype: int64
London Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81792 entries, 0 to 81791
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              81792 non-null  int64
 1   name                            81792 non-null  object
 2   host_id                         81792 non-null  int64
 3   host_name                       81786 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   81792 non-null  object
 6   latitude                        81792 non-null  float64
 7   longitude                       81792 non-null  float64
 8   room_type                       81792 non-null  object
 9   price                           81792 non-null  int64
 10  minimum_nights                  81792 non-null  int64
 11  number_of_reviews               81792 non-null  int64
 12  last_review                     61190 non-null  object
 13  reviews_per_month               61190 non-null  float64
 14  calculated_host_listings_count  81792 non-null  int64
 15  availability_365                81792 non-null  int64
 16  number_of_reviews_ltm           81792 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 11.2+ MB
None

Missing Values in London Dataset:
id                                    0
name                                  0
host_id                               0
host_name                             6
neighbourhood_group               81792
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       20602
reviews_per_month                 20602
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           81792
dtype: int64
Bangkok Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18879 entries, 0 to 18878
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              18879 non-null  int64
 1   name                            18879 non-null  object
 2   host_id                         18879 non-null  int64
 3   host_name                       18878 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   18879 non-null  object
 6   latitude                        18879 non-null  float64
 7   longitude                       18879 non-null  float64
 8   room_type                       18879 non-null  object
 9   price                           18879 non-null  int64
 10  minimum_nights                  18879 non-null  int64
 11  number_of_reviews               18879 non-null  int64
 12  last_review                     12281 non-null  object
 13  reviews_per_month               12281 non-null  float64
 14  calculated_host_listings_count  18879 non-null  int64
 15  availability_365                18879 non-null  int64
 16  number_of_reviews_ltm           18879 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(8), object(5)
memory usage: 2.6+ MB
None

Missing Values in Vancouver Dataset:
id                                    0
name                                  0
host_id                               0
host_name                             1
neighbourhood_group               18879
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        6598
reviews_per_month                  6598
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           18879
dtype: int64

In [ ]:
# Check if the 'name' column exists in each DataFrame
print("Vancouver Columns:", vancouver_df.columns)
print("London Columns:", london_df.columns)
print("Bangkok Columns:", bangkok_df.columns)

# Check the first few rows to verify the 'name' column is present
print(vancouver_df.head())
print(london_df.head())
print(bangkok_df.head())

Vancouver Columns: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')
London Columns: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')
Bangkok Columns: Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')
        id                                               name  host_id  \
0  13188.0  Rental unit in Vancouver · ★4.83 · Studio · 2 ...    51466
1  13358.0  Condo in Vancouver · ★4.68 · 1 bedroom · 1 bed...    52116
2  13490.0  Rental unit in Vancouver · ★4.92 · 1 bedroom ·...    52467
3  14267.0  Home in Vancouver · ★4.76 · 1 bedroom · 2 beds...    56030
4  14424.0  Guest suite in Vancouver · ★4.69 · 1 bedroom ·...    56709

        host_name  neighbourhood_group             neighbourhood  latitude  \
0     Family Guns                  NaN                Riley Park  49.24773
1            Lynn                  NaN                  West End  49.28201
2            Iris                  NaN  Kensington-Cedar Cottage  49.25622
3  Peter & Alison                  NaN  Kensington-Cedar Cottage  49.24922
4     Samantha Jo                  NaN         Downtown Eastside  49.27921

   longitude        room_type  price  minimum_nights  number_of_reviews  \
0 -123.10509  Entire home/apt    150               3                260
1 -123.12669  Entire home/apt    227               1                454
2 -123.06607  Entire home/apt    150              30                 98
3 -123.08139  Entire home/apt    150               3                 34
4 -123.08835  Entire home/apt    134              30                266

  last_review  reviews_per_month  calculated_host_listings_count  \
0  2023-06-01               1.61                               2
1  2023-05-22               2.88                               1
2  2023-05-01               0.67                               1
3  2021-07-14               0.22                               1
4  2023-05-25               1.64                               4

   availability_365  number_of_reviews_ltm    license
0               150                      4  22-156193
1               247                     19  22-311727
2               121                      5        NaN
3                 0                      0  21-156500
4               187                      7  19-162091
       id                                               name  host_id  \
0  306333  Rental unit in London · ★4.32 · 2 bedrooms · 3...  1573870
1  154221  Rental unit in London · 2 bedrooms · 2 beds · ...   211018
2  306405  Rental unit in Dagenham · ★4.0 · 1 bedroom · 1...  1575800
3  157714  Townhouse in Hammersmith · ★4.71 · 1 bedroom ·...   757377
4   13913  Rental unit in Islington · ★4.80 · 1 bedroom ·...    54730

  host_name  neighbourhood_group           neighbourhood  latitude  longitude  \
0    Robert                  NaN                 Hackney  51.52748   -0.08172
1    Sylvia                  NaN             Westminster  51.48970   -0.13911
2      Mary                  NaN    Barking and Dagenham  51.54072    0.15246
3    Eilinn                  NaN  Hammersmith and Fulham  51.48974   -0.22208
4     Alina                  NaN               Islington  51.56861   -0.11270

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt    156               2                 20  2017-05-31
1  Entire home/apt     83               2                  1  2016-01-12
2     Private room     41               4                  3  2012-05-27
3     Private room     69               4                175  2023-05-02
4     Private room     79               1                 41  2022-12-11

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.25                               1                 4
1               0.01                               1                 0
2               0.02                               1               365
3               1.21                               1                67
4               0.26                               2               353

   number_of_reviews_ltm  license
0                      0      NaN
1                      0      NaN
2                      0      NaN
3                     10      NaN
4                     15      NaN
      id                                               name  host_id  \
0  27934  Condo in Samsen Nai · ★4.85 · 1 bedroom · 1 be...   120437
1  27979  Rental unit in Bangkok · 1 bedroom · 2 beds · ...   120541
2  28745  Rental unit in Bangkok · 1 bedroom · 1 bed · 1...   123784
3  35780  Rental unit in Bangkok · ★4.75 · 1 bedroom · 1...   153730
4  48736  Rental unit in Bangkok · 1 bedroom · 1 bed · 1...   222005

    host_name  neighbourhood_group neighbourhood  latitude  longitude  \
0      Nuttee                  NaN   Ratchathewi  13.75983  100.54134
1         Emy                  NaN       Bang Na  13.66818  100.61674
2  Familyroom                  NaN     Bang Kapi  13.75232  100.62402
3     Sirilak                  NaN     Din Daeng  13.78823  100.57256
4    Athitaya                  NaN    Rat Burana  13.68556  100.49535

         room_type  price  minimum_nights  number_of_reviews last_review  \
0  Entire home/apt   1937               3                 65  2020-01-06
1     Private room   1338               1                  0         NaN
2     Private room    800              60                  0         NaN
3     Private room   1286               7                  4  2023-04-03
4     Private room   1585               3                  1  2014-02-03

   reviews_per_month  calculated_host_listings_count  availability_365  \
0               0.48                               2               269
1                NaN                               2                 0
2                NaN                               1                 0
3               0.05                               1               358
4               0.01                               1               365

   number_of_reviews_ltm  license
0                      0      NaN
1                      0      NaN
2                      0      NaN
3                      2      NaN
4                      0      NaN

# Cleaning the name.

In [ ]:
import re

# Function to clean the name column and extract the correct name, bedrooms, beds, baths, and rating
def clean_listing_name(name):
    # Step 1: Extract the first part of the name (before the first "·")
    actual_name = name.split('·')[0].strip()

    # Step 2: Remove the star symbol but keep the rating
    rating_match = re.search(r'★(\d\.\d{2})', name)  # Match star rating like ★4.83
    if rating_match:
        rating_in_name = float(rating_match.group(1))
    else:
        rating_in_name = 2.5  # Default to 2.5 if no rating is found

    # Step 3: Handle "studio" as 1 bedroom, otherwise extract the number of bedrooms
    if 'studio' in name.lower():
        num_bedrooms = 1  # Studio is assumed to be 1 bedroom
    else:
        # Extract number of bedrooms if available
        match_bedrooms = re.search(r'(\d+) bedroom', name)
        num_bedrooms = int(match_bedrooms.group(1)) if match_bedrooms else None

    # Step 4: Extract number of beds
    match_beds = re.search(r'(\d+) beds?', name)
    num_beds = int(match_beds.group(1)) if match_beds else None

    # Step 5: Extract number of baths, including floating-point values (e.g., 1.5 baths)
    match_baths = re.search(r'(\d+(\.\d+)?) baths?', name)  # This will capture numbers like 1 or 1.5
    num_baths = float(match_baths.group(1)) if match_baths else None

    return actual_name, num_bedrooms, num_beds, num_baths, rating_in_name

# Apply the cleaning function to the datasets
vancouver_df['name'], vancouver_df['num_bedrooms'], vancouver_df['num_beds'], vancouver_df['num_baths'], vancouver_df['rating_in_the_name'] = zip(*vancouver_df['name'].apply(clean_listing_name))
london_df['name'], london_df['num_bedrooms'], london_df['num_beds'], london_df['num_baths'], london_df['rating_in_the_name'] = zip(*london_df['name'].apply(clean_listing_name))
bangkok_df['name'], bangkok_df['num_bedrooms'], bangkok_df['num_beds'], bangkok_df['num_baths'], bangkok_df['rating_in_the_name'] = zip(*bangkok_df['name'].apply(clean_listing_name))

# Verify the cleaned data while keeping the first part of the 'name' column
print(vancouver_df[['name', 'num_bedrooms', 'num_beds', 'num_baths', 'rating_in_the_name']].head())
print(london_df[['name', 'num_bedrooms', 'num_beds', 'num_baths', 'rating_in_the_name']].head())
print(bangkok_df[['name', 'num_bedrooms', 'num_beds', 'num_baths', 'rating_in_the_name']].head())

                       name  num_bedrooms  num_beds  num_baths  \
0  Rental unit in Vancouver           1.0       2.0        1.0
1        Condo in Vancouver           1.0       1.0        1.0
2  Rental unit in Vancouver           1.0       1.0        1.0
3         Home in Vancouver           1.0       1.0        1.0
4  Guest suite in Vancouver           1.0       1.0        1.0

   rating_in_the_name
0                4.83
1                4.68
2                4.92
3                4.76
4                4.69
                       name  num_bedrooms  num_beds  num_baths  \
0     Rental unit in London           2.0       2.0        1.0
1     Rental unit in London           2.0       2.0        1.0
2   Rental unit in Dagenham           1.0       1.0        0.0
3  Townhouse in Hammersmith           1.0       1.0        1.5
4  Rental unit in Islington           1.0       1.0        NaN

   rating_in_the_name
0                4.32
1                2.50
2                2.50
3                4.71
4                4.80
                     name  num_bedrooms  num_beds  num_baths  \
0     Condo in Samsen Nai           1.0       1.0        1.5
1  Rental unit in Bangkok           1.0       1.0        1.0
2  Rental unit in Bangkok           1.0       1.0        1.0
3  Rental unit in Bangkok           1.0       1.0        NaN
4  Rental unit in Bangkok           1.0       1.0        1.0

   rating_in_the_name
0                4.85
1                2.50
2                2.50
3                4.75
4                2.50

# Dropping Unnecessary Columns, Removing Rows with Missing last_review and reviews_per_month, and Filling Missing host_name with "Unknown"

In [ ]:
# Check and drop columns if they exist
columns_to_drop = ['neighbourhood_group', 'license']

# For Vancouver
vancouver_df = vancouver_df.drop(columns=[col for col in columns_to_drop if col in vancouver_df.columns], axis=1)
# For London
london_df = london_df.drop(columns=[col for col in columns_to_drop if col in london_df.columns], axis=1)
# For Bangkok
bangkok_df = bangkok_df.drop(columns=[col for col in columns_to_drop if col in bangkok_df.columns], axis=1)


#drop rows where both 'last review' and 'review_per_month' are missing
vancouver_df = vancouver_df.dropna(subset=['last_review', 'reviews_per_month'])
london_df = london_df.dropna(subset=['last_review', 'reviews_per_month'])
bangkok_df = bangkok_df.dropna(subset=['last_review', 'reviews_per_month'])

#filling missing 'host_name' with 'unknown'
vancouver_df['host_name'] = vancouver_df['host_name'].fillna('Unknown')
london_df['host_name'] = london_df['host_name'].fillna('Unknown')
bangkok_df['host_name'] = bangkok_df['host_name'].fillna('Unknown')

# Standardizing Prices to CAD and Remove Duplicates

In [ ]:
# Convert London prices from GBP to CAD
london_df['price'] = london_df['price'] / 0.5958

# Convert Bangkok prices from THB to CAD
bangkok_df['price'] = bangkok_df['price'] / 26.7418

# Remove duplicates
vancouver_df.drop_duplicates(inplace=True)
london_df.drop_duplicates(inplace=True)
bangkok_df.drop_duplicates(inplace=True)

#Verification

In [ ]:
# Verify the cleaned data
print("Cleaned Vancouver Dataset:")
print(vancouver_df.head())
print("\nCleaned London Dataset:")
print(london_df.head())
print("\nCleaned Bangkok Dataset:")
print(bangkok_df.head())

# Check for any remaining missing values
print("\nMissing Values in Van Cleaned Datasets:")
print(vancouver_df.isnull().sum())
print("\nMissing Values in Lond Cleaned Datasets:")
print(london_df.isnull().sum())
print("\nMissing Values in Bang Cleaned Datasets:")
print(bangkok_df.isnull().sum())

Cleaned Vancouver Dataset:
        id                      name  host_id       host_name  \
0  13188.0  Rental unit in Vancouver    51466     Family Guns
1  13358.0        Condo in Vancouver    52116            Lynn
2  13490.0  Rental unit in Vancouver    52467            Iris
3  14267.0         Home in Vancouver    56030  Peter & Alison
4  14424.0  Guest suite in Vancouver    56709     Samantha Jo

              neighbourhood  latitude  longitude        room_type  price  \
0                Riley Park  49.24773 -123.10509  Entire home/apt    150
1                  West End  49.28201 -123.12669  Entire home/apt    227
2  Kensington-Cedar Cottage  49.25622 -123.06607  Entire home/apt    150
3  Kensington-Cedar Cottage  49.24922 -123.08139  Entire home/apt    150
4         Downtown Eastside  49.27921 -123.08835  Entire home/apt    134

   minimum_nights  number_of_reviews last_review  reviews_per_month  \
0               3                260  2023-06-01               1.61
1               1                454  2023-05-22               2.88
2              30                 98  2023-05-01               0.67
3               3                 34  2021-07-14               0.22
4              30                266  2023-05-25               1.64

   calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
0                               2               150                      4
1                               1               247                     19
2                               1               121                      5
3                               1                 0                      0
4                               4               187                      7

   num_bedrooms  num_beds  num_baths  rating_in_the_name
0           1.0       2.0        1.0                4.83
1           1.0       1.0        1.0                4.68
2           1.0       1.0        1.0                4.92
3           1.0       1.0        1.0                4.76
4           1.0       1.0        1.0                4.69

Cleaned London Dataset:
       id                      name  host_id host_name  \
0  306333     Rental unit in London  1573870    Robert
1  154221     Rental unit in London   211018    Sylvia
2  306405   Rental unit in Dagenham  1575800      Mary
3  157714  Townhouse in Hammersmith   757377    Eilinn
4   13913  Rental unit in Islington    54730     Alina

            neighbourhood  latitude  longitude        room_type       price  \
0                 Hackney  51.52748   -0.08172  Entire home/apt  261.832830
1             Westminster  51.48970   -0.13911  Entire home/apt  139.308493
2    Barking and Dagenham  51.54072    0.15246     Private room   68.815039
3  Hammersmith and Fulham  51.48974   -0.22208     Private room  115.810675
4               Islington  51.56861   -0.11270     Private room  132.594830

   minimum_nights  number_of_reviews last_review  reviews_per_month  \
0               2                 20  2017-05-31               0.25
1               2                  1  2016-01-12               0.01
2               4                  3  2012-05-27               0.02
3               4                175  2023-05-02               1.21
4               1                 41  2022-12-11               0.26

   calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
0                               1                 4                      0
1                               1                 0                      0
2                               1               365                      0
3                               1                67                     10
4                               2               353                     15

   num_bedrooms  num_beds  num_baths  rating_in_the_name
0           2.0       2.0        1.0                4.32
1           2.0       2.0        1.0                2.50
2           1.0       1.0        0.0                2.50
3           1.0       1.0        1.5                4.71
4           1.0       1.0        NaN                4.80

Cleaned Bangkok Dataset:
      id                                  name  host_id host_name  \
0  27934                   Condo in Samsen Nai   120437    Nuttee
3  35780                Rental unit in Bangkok   153730   Sirilak
4  48736                Rental unit in Bangkok   222005  Athitaya
5  55681  Serviced apartment in Silom, Bangrak   263049       Tor
6  55686               Hostel in Khet Bang Rak   263049       Tor

  neighbourhood  latitude  longitude        room_type      price  \
0   Ratchathewi  13.75983  100.54134  Entire home/apt  72.433419
3     Din Daeng  13.78823  100.57256     Private room  48.089508
4    Rat Burana  13.68556  100.49535     Private room  59.270505
5      Bang Rak  13.71934  100.51760     Private room  43.003837
6        Sathon  13.71802  100.51539       Hotel room  51.754183

   minimum_nights  number_of_reviews last_review  reviews_per_month  \
0               3                 65  2020-01-06               0.48
3               7                  4  2023-04-03               0.05
4               3                  1  2014-02-03               0.01
5               2                 29  2023-04-23               0.19
6               2                208  2019-12-02               1.38

   calculated_host_listings_count  availability_365  number_of_reviews_ltm  \
0                               2               269                      0
3                               1               358                      2
4                               1               365                      0
5                               7               306                      2
6                               7               365                      0

   num_bedrooms  num_beds  num_baths  rating_in_the_name
0           1.0       1.0        1.5                4.85
3           1.0       1.0        NaN                4.75
4           1.0       1.0        1.0                2.50
5           1.0       1.0        NaN                4.75
6           1.0       1.0        NaN                4.79

Missing Values in Van Cleaned Datasets:
id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                               0
minimum_nights                      0
number_of_reviews                   0
last_review                         0
reviews_per_month                   0
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
num_bedrooms                        3
num_beds                            6
num_baths                         809
rating_in_the_name                  0
dtype: int64

Missing Values in Lond Cleaned Datasets:
id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                           0
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
num_bedrooms                         38
num_beds                            126
num_baths                         18982
rating_in_the_name                    0
dtype: int64

Missing Values in Bang Cleaned Datasets:
id                                   0
name                                 0
host_id                              0
host_name                            0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                          0
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
number_of_reviews_ltm                0
num_bedrooms                         5
num_beds                            27
num_baths                         3043
rating_in_the_name                   0
dtype: int64

# Exporting files

In [ ]:
# Export the cleaned datasets to CSV
vancouver_df.to_csv('/content/drive/MyDrive/Datathons_Data/cleaned_vancouver_listings.csv', index=False)
london_df.to_csv('/content/drive/MyDrive/Datathons_Data/cleaned_london_listings.csv', index=False)
bangkok_df.to_csv('/content/drive/MyDrive/Datathons_Data/cleaned_bangkok_listings.csv', index=False)